In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [198]:
PATH18 = "/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/*.dat"

In [199]:
datafiles = glob.glob(PATH18)
datafiles.sort()

In [200]:
datafiles

['/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_1.dat',
 '/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_2.dat',
 '/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_3.dat',
 '/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_4.dat',
 '/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_5.dat',
 '/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_6.dat',
 '/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_7.dat',
 '/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_8.dat']

In [73]:
df1 = pd.read_csv(datafiles[0], 
                    usecols=['TIMESTAMP',
                             'RECORD',
                             'DfHIP_SPN1', 
                             'DfHIRP_SMP11',
                             'DfHIT_SMP22',
                             'DIF_GLO_REF_SPN1',
                             'DNI_SHP1',
                             'GHIP_SI02pt100',
                             'GHIP_SMP11',
                             'GHIP_SMP22',
                             'GHIP_SPN1',
                             'GHIT_SMP22',
                             'LW_SGR4', 
                             'TGHIP_SI02pt100', 
                             'TGHIP_SI02pt100_dirty',
                             'TGIP_SMP11_VENT',
                             'wind_speed', 
                             'wind_direction']
                )

/Users/nataly/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8,17,18,19,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [106]:
df3 = pd.read_csv(datafiles[0], 
                    usecols=['TIMESTAMP',
                             'RECORD',
                             'DfHIP_SPN1', 
                             'DfHIRP_SMP11',
                             'DfHIT_SMP22',
                             'DIF_GLO_REF_SPN1',
                             'DNI_SHP1',
                             'GHIP_SI02pt100',
                             'GHIP_SMP11',
                             'GHIP_SMP22',
                             'GHIP_SPN1',
                             'GHIT_SMP22',
                             'LW_SGR4', 
                             'TGHIP_SI02pt100', 
                             'TGHIP_SI02pt100_dirty',
                             'TGIP_SMP11_VENT',
                             'wind_speed', 
                             'wind_direction']
                )[['TIMESTAMP','wind_speed', 
                             'wind_direction',
                             'RECORD',
                             'DfHIP_SPN1', 
                             'DfHIRP_SMP11',
                             'DfHIT_SMP22',
                             'DIF_GLO_REF_SPN1',
                             'DNI_SHP1',
                             'GHIP_SI02pt100',
                             'GHIP_SMP11',
                             'GHIP_SMP22',
                             'GHIP_SPN1',
                             'GHIT_SMP22',
                             'LW_SGR4', 
                             'TGHIP_SI02pt100', 
                             'TGHIP_SI02pt100_dirty',
                             'TGIP_SMP11_VENT']]

/Users/nataly/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8,17,18,19,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [107]:
df3

,TIMESTAMP,wind_speed,wind_direction,RECORD,DfHIP_SPN1,DfHIRP_SMP11,DfHIT_SMP22,DIF_GLO_REF_SPN1,DNI_SHP1,GHIP_SI02pt100,GHIP_SMP11,GHIP_SMP22,GHIP_SPN1,GHIT_SMP22,LW_SGR4,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,TGIP_SMP11_VENT
0,2017-12-13 14:32:40,1.14,35,506255,637.6,617.0,767.0,7.071,240.1,1019.0,1028.0,1047.0,1012.0,1028.0,404.5,907.0,910.0,973.0
1,2017-12-13 14:32:41,1.3,51,506256,639.6,617.0,766.5,15.67,252.8,1023.0,1037.0,1045.0,1008.0,1045.0,404.7,906.0,917.0,994.0
2,2017-12-13 14:32:42,1.18,98,506257,639.6,616.0,766.1,11.38,307.6,1073.0,1090.0,1086.0,1062.0,1095.0,404.8,950.0,967.0,1047.0
3,2017-12-13 14:32:43,0.96,285,506258,640.7,616.0,765.7,-0.83,378.0,1131.0,1159.0,1146.0,1132.0,1160.0,404.9,1005.0,1027.0,1124.0
4,2017-12-13 14:32:44,0.91,258,506259,642.4,616.0,765.2,3.045,485.8,1236.0,1272.0,1248.0,1233.0,1260.0,405.0,1100.0,1131.0,1230.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441918,2018-01-17 18:57:02,2.47,354,94538,273.5,240.0,313.7,0.046,879.0,823.0,893.0,877.0,823.0,883.0,421.0,679.1,706.6,773.9
3441919,2018-01-17 18:57:03,2.07,348,94539,271.7,240.0,313.7,34.71,889.0,851.0,855.0,886.0,816.0,883.0,421.1,690.0,700.9,749.9
3441920,2018-01-17 18:57:04,1.5,342,94540,271.7,240.0,313.7,47.38,825.0,807.0,802.0,857.0,759.9,846.0,421.1,645.8,653.7,718.6
3441921,2018-01-17 18:57:05,1.57,6,94541,270.2,240.0,313.5,33.65,748.2,736.1,742.2,821.0,702.4,803.0,421.2,588.7,606.4,672.9
3441922,2018-01-17 18:57:06,1.98,2,94542,268.6,240.0,313.3,29.24,660.8,686.9,720.4,776.7,657.7,755.4,421.2,553.6,566.6,654.1

In [108]:
df1

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
0,2017-12-13 14:32:40,506255,240.1,404.5,1028.0,1047.0,1028.0,1012.0,1019.0,767.0,617.0,637.6,973.0,907.0,910.0,1.14,35,7.071
1,2017-12-13 14:32:41,506256,252.8,404.7,1045.0,1045.0,1037.0,1008.0,1023.0,766.5,617.0,639.6,994.0,906.0,917.0,1.3,51,15.67
2,2017-12-13 14:32:42,506257,307.6,404.8,1095.0,1086.0,1090.0,1062.0,1073.0,766.1,616.0,639.6,1047.0,950.0,967.0,1.18,98,11.38
3,2017-12-13 14:32:43,506258,378.0,404.9,1160.0,1146.0,1159.0,1132.0,1131.0,765.7,616.0,640.7,1124.0,1005.0,1027.0,0.96,285,-0.83
4,2017-12-13 14:32:44,506259,485.8,405.0,1260.0,1248.0,1272.0,1233.0,1236.0,765.2,616.0,642.4,1230.0,1100.0,1131.0,0.91,258,3.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441918,2018-01-17 18:57:02,94538,879.0,421.0,883.0,877.0,893.0,823.0,823.0,313.7,240.0,273.5,773.9,679.1,706.6,2.47,354,0.046
3441919,2018-01-17 18:57:03,94539,889.0,421.1,883.0,886.0,855.0,816.0,851.0,313.7,240.0,271.7,749.9,690.0,700.9,2.07,348,34.71
3441920,2018-01-17 18:57:04,94540,825.0,421.1,846.0,857.0,802.0,759.9,807.0,313.7,240.0,271.7,718.6,645.8,653.7,1.5,342,47.38
3441921,2018-01-17 18:57:05,94541,748.2,421.2,803.0,821.0,742.2,702.4,736.1,313.5,240.0,270.2,672.9,588.7,606.4,1.57,6,33.65
3441922,2018-01-17 18:57:06,94542,660.8,421.2,755.4,776.7,720.4,657.7,686.9,313.3,240.0,268.6,654.1,553.6,566.6,1.98,2,29.24

In [14]:
    df1 = df1.fillna('-9999')

In [74]:
df1.dtypes

TIMESTAMP                 object
RECORD                     int64
DNI_SHP1                 float64
LW_SGR4                  float64
GHIT_SMP22               float64
GHIP_SMP22               float64
GHIP_SMP11               float64
GHIP_SPN1                float64
GHIP_SI02pt100            object
DfHIT_SMP22              float64
DfHIRP_SMP11             float64
DfHIP_SPN1               float64
TGIP_SMP11_VENT          float64
TGHIP_SI02pt100           object
TGHIP_SI02pt100_dirty     object
wind_speed                object
wind_direction            object
DIF_GLO_REF_SPN1          object
dtype: object

In [75]:
df1

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
0,2017-12-13 14:32:40,506255,240.1,404.5,1028.0,1047.0,1028.0,1012.0,1019.0,767.0,617.0,637.6,973.0,907.0,910.0,1.14,35,7.071
1,2017-12-13 14:32:41,506256,252.8,404.7,1045.0,1045.0,1037.0,1008.0,1023.0,766.5,617.0,639.6,994.0,906.0,917.0,1.3,51,15.67
2,2017-12-13 14:32:42,506257,307.6,404.8,1095.0,1086.0,1090.0,1062.0,1073.0,766.1,616.0,639.6,1047.0,950.0,967.0,1.18,98,11.38
3,2017-12-13 14:32:43,506258,378.0,404.9,1160.0,1146.0,1159.0,1132.0,1131.0,765.7,616.0,640.7,1124.0,1005.0,1027.0,0.96,285,-0.83
4,2017-12-13 14:32:44,506259,485.8,405.0,1260.0,1248.0,1272.0,1233.0,1236.0,765.2,616.0,642.4,1230.0,1100.0,1131.0,0.91,258,3.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441918,2018-01-17 18:57:02,94538,879.0,421.0,883.0,877.0,893.0,823.0,823.0,313.7,240.0,273.5,773.9,679.1,706.6,2.47,354,0.046
3441919,2018-01-17 18:57:03,94539,889.0,421.1,883.0,886.0,855.0,816.0,851.0,313.7,240.0,271.7,749.9,690.0,700.9,2.07,348,34.71
3441920,2018-01-17 18:57:04,94540,825.0,421.1,846.0,857.0,802.0,759.9,807.0,313.7,240.0,271.7,718.6,645.8,653.7,1.5,342,47.38
3441921,2018-01-17 18:57:05,94541,748.2,421.2,803.0,821.0,742.2,702.4,736.1,313.5,240.0,270.2,672.9,588.7,606.4,1.57,6,33.65
3441922,2018-01-17 18:57:06,94542,660.8,421.2,755.4,776.7,720.4,657.7,686.9,313.3,240.0,268.6,654.1,553.6,566.6,1.98,2,29.24

In [76]:
df2 = df1

In [78]:
df2.dtypes

TIMESTAMP                 object
RECORD                     int64
DNI_SHP1                 float64
LW_SGR4                  float64
GHIT_SMP22               float64
GHIP_SMP22               float64
GHIP_SMP11               float64
GHIP_SPN1                float64
GHIP_SI02pt100            object
DfHIT_SMP22              float64
DfHIRP_SMP11             float64
DfHIP_SPN1               float64
TGIP_SMP11_VENT          float64
TGHIP_SI02pt100           object
TGHIP_SI02pt100_dirty     object
wind_speed                object
wind_direction            object
DIF_GLO_REF_SPN1          object
dtype: object

In [79]:
    df2 = df2.fillna('-9999')

In [84]:
index = df2[df2.wind_direction=='-9999']

In [86]:
index

Empty DataFrame
Columns: [TIMESTAMP, RECORD, DNI_SHP1, LW_SGR4, GHIT_SMP22, GHIP_SMP22, GHIP_SMP11, GHIP_SPN1, GHIP_SI02pt100, DfHIT_SMP22, DfHIRP_SMP11, DfHIP_SPN1, TGIP_SMP11_VENT, TGHIP_SI02pt100, TGHIP_SI02pt100_dirty, wind_speed, wind_direction, DIF_GLO_REF_SPN1]
Index: []

In [92]:
df2.loc[375:378]

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
375,2017-12-13 14:38:55,506630,17.6,405.0,695.1,717.8,713.9,726.6,686.2,675.9,571.0,634.1,672.1,614.7,619.0,4.11,339,-40.4
376,2017-12-13 14:38:56,506631,17.6,405.0,693.9,716.3,712.5,723.5,684.8,675.2,571.0,631.2,671.1,613.5,618.0,NAN,NAN,-38.63
377,2017-12-13 14:38:57,506632,17.5,405.1,693.2,715.3,712.0,721.1,684.1,674.5,570.0,630.0,670.4,612.7,617.2,3.14,320,-37.09
378,2017-12-13 14:38:58,506633,17.5,405.1,692.8,714.6,711.3,723.0,683.7,673.7,570.0,632.7,670.2,612.4,617.0,2.71,313,-39.26

In [93]:
    df2 = df2.fillna('-9999')

In [94]:
df2.loc[375:378]

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
375,2017-12-13 14:38:55,506630,17.6,405.0,695.1,717.8,713.9,726.6,686.2,675.9,571.0,634.1,672.1,614.7,619.0,4.11,339,-40.4
376,2017-12-13 14:38:56,506631,17.6,405.0,693.9,716.3,712.5,723.5,684.8,675.2,571.0,631.2,671.1,613.5,618.0,NAN,NAN,-38.63
377,2017-12-13 14:38:57,506632,17.5,405.1,693.2,715.3,712.0,721.1,684.1,674.5,570.0,630.0,670.4,612.7,617.2,3.14,320,-37.09
378,2017-12-13 14:38:58,506633,17.5,405.1,692.8,714.6,711.3,723.0,683.7,673.7,570.0,632.7,670.2,612.4,617.0,2.71,313,-39.26

In [101]:
df2[["GHIP_SI02pt100", "TGHIP_SI02pt100","TGHIP_SI02pt100_dirty","wind_speed","wind_direction","DIF_GLO_REF_SPN1"]] = df2[["GHIP_SI02pt100", "TGHIP_SI02pt100","TGHIP_SI02pt100_dirty","wind_speed","wind_direction","DIF_GLO_REF_SPN1"]].astype("float32")

In [102]:
df2.dtypes

TIMESTAMP                 object
RECORD                     int64
DNI_SHP1                 float64
LW_SGR4                  float64
GHIT_SMP22               float64
GHIP_SMP22               float64
GHIP_SMP11               float64
GHIP_SPN1                float64
GHIP_SI02pt100           float32
DfHIT_SMP22              float64
DfHIRP_SMP11             float64
DfHIP_SPN1               float64
TGIP_SMP11_VENT          float64
TGHIP_SI02pt100          float32
TGHIP_SI02pt100_dirty    float32
wind_speed               float32
wind_direction           float32
DIF_GLO_REF_SPN1         float32
dtype: object

In [98]:
df2.loc[375:378]

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
375,2017-12-13 14:38:55,506630,17.6,405.0,695.1,717.8,713.9,726.6,686.200012,675.9,571.0,634.1,672.1,614.700012,619.000000,4.11,339.0,-40.400002
376,2017-12-13 14:38:56,506631,17.6,405.0,693.9,716.3,712.5,723.5,684.799988,675.2,571.0,631.2,671.1,613.500000,618.000000,NaN,NaN,-38.630001
377,2017-12-13 14:38:57,506632,17.5,405.1,693.2,715.3,712.0,721.1,684.099976,674.5,570.0,630.0,670.4,612.700012,617.200012,3.14,320.0,-37.090000
378,2017-12-13 14:38:58,506633,17.5,405.1,692.8,714.6,711.3,723.0,683.700012,673.7,570.0,632.7,670.2,612.400024,617.000000,2.71,313.0,-39.259998

In [103]:
df2 = df2.fillna(-9999)

In [104]:
df2.dtypes

TIMESTAMP                 object
RECORD                     int64
DNI_SHP1                 float64
LW_SGR4                  float64
GHIT_SMP22               float64
GHIP_SMP22               float64
GHIP_SMP11               float64
GHIP_SPN1                float64
GHIP_SI02pt100           float32
DfHIT_SMP22              float64
DfHIRP_SMP11             float64
DfHIP_SPN1               float64
TGIP_SMP11_VENT          float64
TGHIP_SI02pt100          float32
TGHIP_SI02pt100_dirty    float32
wind_speed               float32
wind_direction           float32
DIF_GLO_REF_SPN1         float32
dtype: object

In [105]:
df2.loc[375:378]

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
375,2017-12-13 14:38:55,506630,17.6,405.0,695.1,717.8,713.9,726.6,686.200012,675.9,571.0,634.1,672.1,614.700012,619.000000,4.11,339.0,-40.400002
376,2017-12-13 14:38:56,506631,17.6,405.0,693.9,716.3,712.5,723.5,684.799988,675.2,571.0,631.2,671.1,613.500000,618.000000,-9999.00,-9999.0,-38.630001
377,2017-12-13 14:38:57,506632,17.5,405.1,693.2,715.3,712.0,721.1,684.099976,674.5,570.0,630.0,670.4,612.700012,617.200012,3.14,320.0,-37.090000
378,2017-12-13 14:38:58,506633,17.5,405.1,692.8,714.6,711.3,723.0,683.700012,673.7,570.0,632.7,670.2,612.400024,617.000000,2.71,313.0,-39.259998

In [113]:
df4 = pd.read_csv(datafiles[0], 
                    usecols=['TIMESTAMP',
                             'RECORD',
                             'DfHIP_SPN1', 
                             'DfHIRP_SMP11',
                             'DfHIT_SMP22',
                             'DIF_GLO_REF_SPN1',
                             'DNI_SHP1',
                             'GHIP_SI02pt100',
                             'GHIP_SMP11',
                             'GHIP_SMP22',
                             'GHIP_SPN1',
                             'GHIT_SMP22',
                             'LW_SGR4', 
                             'TGHIP_SI02pt100', 
                             'TGHIP_SI02pt100_dirty',
                             'TGIP_SMP11_VENT',
                             'wind_speed', 
                             'wind_direction'],
                      na_values = -9999)

In [114]:
df4.shape

(3441923, 18)

In [116]:
df4.dtypes

TIMESTAMP                 object
RECORD                     int64
DNI_SHP1                 float64
LW_SGR4                  float64
GHIT_SMP22               float64
GHIP_SMP22               float64
GHIP_SMP11               float64
GHIP_SPN1                float64
GHIP_SI02pt100            object
DfHIT_SMP22              float64
DfHIRP_SMP11             float64
DfHIP_SPN1               float64
TGIP_SMP11_VENT          float64
TGHIP_SI02pt100           object
TGHIP_SI02pt100_dirty     object
wind_speed                object
wind_direction            object
DIF_GLO_REF_SPN1          object
dtype: object

In [117]:
df4.loc[375:378]

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
375,2017-12-13 14:38:55,506630,17.6,405.0,695.1,717.8,713.9,726.6,686.2,675.9,571.0,634.1,672.1,614.7,619.0,4.11,339,-40.4
376,2017-12-13 14:38:56,506631,17.6,405.0,693.9,716.3,712.5,723.5,684.8,675.2,571.0,631.2,671.1,613.5,618.0,NAN,NAN,-38.63
377,2017-12-13 14:38:57,506632,17.5,405.1,693.2,715.3,712.0,721.1,684.1,674.5,570.0,630.0,670.4,612.7,617.2,3.14,320,-37.09
378,2017-12-13 14:38:58,506633,17.5,405.1,692.8,714.6,711.3,723.0,683.7,673.7,570.0,632.7,670.2,612.4,617.0,2.71,313,-39.26

In [65]:
bdf2[["GHIP_SI02pt100", "TGHIP_SI02pt100","TGHIP_SI02pt100_dirty","wind_speed","wind_direction","DIF_GLO_REF_SPN1"]] = df2[["GHIP_SI02pt100", "TGHIP_SI02pt100","TGHIP_SI02pt100_dirty","wind_speed","wind_direction","DIF_GLO_REF_SPN1"]].astype("float32")

In [118]:
df4

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
0,2017-12-13 14:32:40,506255,240.1,404.5,1028.0,1047.0,1028.0,1012.0,1019.0,767.0,617.0,637.6,973.0,907.0,910.0,1.14,35,7.071
1,2017-12-13 14:32:41,506256,252.8,404.7,1045.0,1045.0,1037.0,1008.0,1023.0,766.5,617.0,639.6,994.0,906.0,917.0,1.3,51,15.67
2,2017-12-13 14:32:42,506257,307.6,404.8,1095.0,1086.0,1090.0,1062.0,1073.0,766.1,616.0,639.6,1047.0,950.0,967.0,1.18,98,11.38
3,2017-12-13 14:32:43,506258,378.0,404.9,1160.0,1146.0,1159.0,1132.0,1131.0,765.7,616.0,640.7,1124.0,1005.0,1027.0,0.96,285,-0.83
4,2017-12-13 14:32:44,506259,485.8,405.0,1260.0,1248.0,1272.0,1233.0,1236.0,765.2,616.0,642.4,1230.0,1100.0,1131.0,0.91,258,3.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441918,2018-01-17 18:57:02,94538,879.0,421.0,883.0,877.0,893.0,823.0,823.0,313.7,240.0,273.5,773.9,679.1,706.6,2.47,354,0.046
3441919,2018-01-17 18:57:03,94539,889.0,421.1,883.0,886.0,855.0,816.0,851.0,313.7,240.0,271.7,749.9,690.0,700.9,2.07,348,34.71
3441920,2018-01-17 18:57:04,94540,825.0,421.1,846.0,857.0,802.0,759.9,807.0,313.7,240.0,271.7,718.6,645.8,653.7,1.5,342,47.38
3441921,2018-01-17 18:57:05,94541,748.2,421.2,803.0,821.0,742.2,702.4,736.1,313.5,240.0,270.2,672.9,588.7,606.4,1.57,6,33.65
3441922,2018-01-17 18:57:06,94542,660.8,421.2,755.4,776.7,720.4,657.7,686.9,313.3,240.0,268.6,654.1,553.6,566.6,1.98,2,29.24

In [124]:
df4.2

SyntaxError: invalid syntax (<ipython-input-124-809a14e5c60a>, line 1)

In [66]:
df2.dtypes

TIMESTAMP                 object
RECORD                     int64
DNI_SHP1                 float64
LW_SGR4                  float64
GHIT_SMP22               float64
GHIP_SMP22               float64
GHIP_SMP11               float64
GHIP_SPN1                float64
GHIP_SI02pt100           float32
DfHIT_SMP22              float64
DfHIRP_SMP11             float64
DfHIP_SPN1               float64
TGIP_SMP11_VENT          float64
TGHIP_SI02pt100          float32
TGHIP_SI02pt100_dirty    float32
wind_speed               float32
wind_direction           float32
DIF_GLO_REF_SPN1         float32
dtype: object

In [57]:
find = df2[df2['TGHIP_SI02pt100_dirty']== -9999]

In [58]:
find

Empty DataFrame
Columns: [TIMESTAMP, RECORD, DNI_SHP1, LW_SGR4, GHIT_SMP22, GHIP_SMP22, GHIP_SMP11, GHIP_SPN1, GHIP_SI02pt100, DfHIT_SMP22, DfHIRP_SMP11, DfHIP_SPN1, TGIP_SMP11_VENT, TGHIP_SI02pt100, TGHIP_SI02pt100_dirty, wind_speed, wind_direction, DIF_GLO_REF_SPN1]
Index: []

In [23]:
test =df1.isna()

In [20]:
df1.shape

(3441923, 18)

In [24]:
test

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441918,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3441919,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3441920,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3441921,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3441922,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [39]:
a = test[test['DIF_GLO_REF_SPN1'] == True].index

In [40]:
a.shape

(0,)

In [43]:
b = df1[df1['GHIP_SI02pt100'] == -9999].index
b.shape

(0,)

In [47]:
    df3 = pd.read_csv(datafiles[0], 
                    usecols=['TIMESTAMP',
                             'RECORD',
                             'DfHIP_SPN1', 
                             'DfHIRP_SMP11',
                             'DfHIT_SMP22',
                             'DIF_GLO_REF_SPN1',
                             'DNI_SHP1',
                             'GHIP_SI02pt100',
                             'GHIP_SMP11',
                             'GHIP_SMP22',
                             'GHIP_SPN1',
                             'GHIT_SMP22',
                             'LW_SGR4', 
                             'TGHIP_SI02pt100', 
                             'TGHIP_SI02pt100_dirty',
                             'TGIP_SMP11_VENT',
                             'wind_speed', 
                             'wind_direction'
                            ],
                    na_values = -9999,
                    dtype={'TIMESTAMP': str,
                          'RECORD': int, 
                          'DfHIP_SPN1': float, 
                          'DfHIRP_SMP11': float,
                          'DfHIT_SMP22': float,
                          'DIF_GLO_REF_SPN1': float,
                          'DNI_SHP1': float,
                          'GHIP_SI02pt100': float,
                          'GHIP_SMP11': float,
                          'GHIP_SMP22': float,
                          'GHIP_SPN1': float,
                          'GHIT_SMP22': float,
                          'LW_SGR4': float, 
                          'TGHIP_SI02pt100': float, 
                          'TGHIP_SI02pt100_dirty': float,
                          'TGIP_SMP11_VENT': float,
                          'wind_speed': float, 
                          'wind_direction': float,
                          })

ValueError: cannot safely convert passed user dtype of float64 for object dtyped data in column 19

In [132]:
df11 = pd.read_csv(datafiles[0], 
                     usecols=['TIMESTAMP',
                             'RECORD',
                             'DfHIP_SPN1', 
                             'DfHIRP_SMP11',
                             'DfHIT_SMP22',
                             'DIF_GLO_REF_SPN1',
                             'DNI_SHP1',
                             'GHIP_SI02pt100',
                             'GHIP_SMP11',
                             'GHIP_SMP22',
                             'GHIP_SPN1',
                             'GHIT_SMP22',
                             'LW_SGR4', 
                             'TGHIP_SI02pt100', 
                             'TGHIP_SI02pt100_dirty',
                             'TGIP_SMP11_VENT',
                             'wind_speed', 
                             'wind_direction']
                    )[['TIMESTAMP',
                      'RECORD',
                      'GHIP_SI02pt100',
                      'GHIP_SMP11',
                      'GHIP_SMP22',
                      'GHIP_SPN1',
                      'GHIT_SMP22',
                      'TGHIP_SI02pt100', 
                      'TGHIP_SI02pt100_dirty',
                      'TGIP_SMP11_VENT',
                      'DfHIP_SPN1', 
                      'DfHIRP_SMP11',
                      'DfHIT_SMP22',
                      'DIF_GLO_REF_SPN1',
                      'DNI_SHP1',
                      'LW_SGR4', 
                      'wind_speed', 
                      'wind_direction']]   

df11[['GHIP_SI02pt100','GHIP_SMP11','GHIP_SMP22','GHIP_SPN1','GHIT_SMP22',
         'TGHIP_SI02pt100','TGHIP_SI02pt100_dirty','TGIP_SMP11_VENT',
         'DfHIP_SPN1','DfHIRP_SMP11','DfHIT_SMP22','DIF_GLO_REF_SPN1',
         'DNI_SHP1','LW_SGR4', 'wind_speed','wind_direction']] = df11[['GHIP_SI02pt100',
         'GHIP_SMP11','GHIP_SMP22','GHIP_SPN1','GHIT_SMP22','TGHIP_SI02pt100',
         'TGHIP_SI02pt100_dirty','TGIP_SMP11_VENT','DfHIP_SPN1','DfHIRP_SMP11',
         'DfHIT_SMP22','DIF_GLO_REF_SPN1','DNI_SHP1','LW_SGR4', 'wind_speed',
         'wind_direction']].astype("float64")                
df11 = df11.fillna(-9999)

/Users/nataly/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8,17,18,19,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [134]:
df11.dtypes

TIMESTAMP                 object
RECORD                     int64
GHIP_SI02pt100           float64
GHIP_SMP11               float64
GHIP_SMP22               float64
GHIP_SPN1                float64
GHIT_SMP22               float64
TGHIP_SI02pt100          float64
TGHIP_SI02pt100_dirty    float64
TGIP_SMP11_VENT          float64
DfHIP_SPN1               float64
DfHIRP_SMP11             float64
DfHIT_SMP22              float64
DIF_GLO_REF_SPN1         float64
DNI_SHP1                 float64
LW_SGR4                  float64
wind_speed               float64
wind_direction           float64
dtype: object

In [135]:
df11.loc[375:378]

,TIMESTAMP,RECORD,GHIP_SI02pt100,GHIP_SMP11,GHIP_SMP22,GHIP_SPN1,GHIT_SMP22,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,TGIP_SMP11_VENT,DfHIP_SPN1,DfHIRP_SMP11,DfHIT_SMP22,DIF_GLO_REF_SPN1,DNI_SHP1,LW_SGR4,wind_speed,wind_direction
375,2017-12-13 14:38:55,506630,686.2,713.9,717.8,726.6,695.1,614.7,619.0,672.1,634.1,571.0,675.9,-40.40,17.6,405.0,4.11,339.0
376,2017-12-13 14:38:56,506631,684.8,712.5,716.3,723.5,693.9,613.5,618.0,671.1,631.2,571.0,675.2,-38.63,17.6,405.0,-9999.00,-9999.0
377,2017-12-13 14:38:57,506632,684.1,712.0,715.3,721.1,693.2,612.7,617.2,670.4,630.0,570.0,674.5,-37.09,17.5,405.1,3.14,320.0
378,2017-12-13 14:38:58,506633,683.7,711.3,714.6,723.0,692.8,612.4,617.0,670.2,632.7,570.0,673.7,-39.26,17.5,405.1,2.71,313.0

In [136]:
    df11['TIMESTAMP'] = df11['TIMESTAMP'].astype(np.datetime64)

In [137]:
df11['TIMESTAMP']

0         2017-12-13 14:32:40
1         2017-12-13 14:32:41
2         2017-12-13 14:32:42
3         2017-12-13 14:32:43
4         2017-12-13 14:32:44
                  ...
3441918   2018-01-17 18:57:02
3441919   2018-01-17 18:57:03
3441920   2018-01-17 18:57:04
3441921   2018-01-17 18:57:05
3441922   2018-01-17 18:57:06
Name: TIMESTAMP, Length: 3441923, dtype: datetime64[ns]

In [138]:
df11.dtypes

TIMESTAMP                datetime64[ns]
RECORD                            int64
GHIP_SI02pt100                  float64
GHIP_SMP11                      float64
GHIP_SMP22                      float64
GHIP_SPN1                       float64
GHIT_SMP22                      float64
TGHIP_SI02pt100                 float64
TGHIP_SI02pt100_dirty           float64
TGIP_SMP11_VENT                 float64
DfHIP_SPN1                      float64
DfHIRP_SMP11                    float64
DfHIT_SMP22                     float64
DIF_GLO_REF_SPN1                float64
DNI_SHP1                        float64
LW_SGR4                         float64
wind_speed                      float64
wind_direction                  float64
dtype: object

In [141]:
import pvlib

In [142]:
tus = Location(-27.43
               0891, -48.441406, 'Etc/GMT', 'Florianopolis')

NameError: name 'Location' is not defined

In [143]:
import datetime
import pytz

In [148]:
pytz.country_timezones('Brasil')

KeyError: 'BRASIL'

In [149]:
pytz.all_timezones[::20]

['Africa/Abidjan',
 'Africa/Douala',
 'Africa/Mbabane',
 'America/Argentina/Catamarca',
 'America/Belize',
 'America/Curacao',
 'America/Guatemala',
 'America/Kentucky/Louisville',
 'America/Mexico_City',
 'America/Phoenix',
 'America/Shiprock',
 'America/Yellowknife',
 'Asia/Ashgabat',
 'Asia/Dili',
 'Asia/Katmandu',
 'Asia/Pyongyang',
 'Asia/Tokyo',
 'Atlantic/Madeira',
 'Australia/Perth',
 'Canada/Saskatchewan',
 'Etc/GMT+6',
 'Etc/Greenwich',
 'Europe/Gibraltar',
 'Europe/Oslo',
 'Europe/Vatican',
 'Indian/Christmas',
 'Mexico/General',
 'Pacific/Guam',
 'Pacific/Saipan',
 'US/East-Indiana']

In [171]:
df11.TIMESTAMP.loc[1:300]

1     2017-12-13 14:32:41
2     2017-12-13 14:32:42
3     2017-12-13 14:32:43
4     2017-12-13 14:32:44
5     2017-12-13 14:32:45
              ...
296   2017-12-13 14:37:36
297   2017-12-13 14:37:37
298   2017-12-13 14:37:38
299   2017-12-13 14:37:39
300   2017-12-13 14:37:40
Name: TIMESTAMP, Length: 300, dtype: datetime64[ns]

In [151]:
pd.Timestamp(df11['TIMESTAMP']).tz_localize('Brazil/East')

TypeError: Cannot convert input [0         2017-12-13 14:32:40
1         2017-12-13 14:32:41
2         2017-12-13 14:32:42
3         2017-12-13 14:32:43
4         2017-12-13 14:32:44
                  ...
3441918   2018-01-17 18:57:02
3441919   2018-01-17 18:57:03
3441920   2018-01-17 18:57:04
3441921   2018-01-17 18:57:05
3441922   2018-01-17 18:57:06
Name: TIMESTAMP, Length: 3441923, dtype: datetime64[ns]] of type <class 'pandas.core.series.Series'> to Timestamp

In [173]:
timesFLP = df11['TIMESTAMP'].loc[1:10].tz_localize('Etc/GMT+7')

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [175]:
naive_times = pd.date_range(start='2015', end='2016', freq='1h')
naive_times.dtype

dtype('<M8[ns]')

In [170]:
df11['TIMESTAMP']

0         2017-12-13 14:32:40
1         2017-12-13 14:32:41
2         2017-12-13 14:32:42
3         2017-12-13 14:32:43
4         2017-12-13 14:32:44
                  ...
3441918   2018-01-17 18:57:02
3441919   2018-01-17 18:57:03
3441920   2018-01-17 18:57:04
3441921   2018-01-17 18:57:05
3441922   2018-01-17 18:57:06
Name: TIMESTAMP, Length: 3441923, dtype: datetime64[ns]

In [176]:
timezone = 'Brazil/East'

times = naive_times.tz_localize('Etc/GMT-3')


times

In [187]:
t = pd.Timestamp('2020-12-1 00:00').tz_localize(timezone)

In [188]:
t

Timestamp('2020-12-01 00:00:00-0300', tz='Brazil/East')

In [191]:
file_duration = pd.DataFrame(index = datafiles , columns = ['start','end'])

In [211]:
file_duration.at[datafiles[0],'start']=df11.iloc[0,0]

In [207]:
df11.iloc[0,0]

Timestamp('2017-12-13 14:32:40')

In [212]:
file_duration

                                                                  start  end
/Users/nataly/opt/AnacondaProjects/SAPIENS/orig...  2017-12-13 14:32:40  NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/orig...                  NaN  NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/orig...                  NaN  NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/orig...                  NaN  NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/orig...                  NaN  NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/orig...                  NaN  NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/orig...                  NaN  NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/orig...                  NaN  NaN

In [213]:
path

NameError: name 'path' is not defined

In [219]:
df11.iloc[-1,0]

Timestamp('2018-01-17 18:57:06')

In [220]:
file_duration.at[datafiles[0],'end']= df11.iloc[-1,0]

In [221]:
file_duration

,start,end
/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_1.dat,2017-12-13 14:32:40,2018-01-17 18:57:06
/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_2.dat,NaN,NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_3.dat,NaN,NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_4.dat,NaN,NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_5.dat,NaN,NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_6.dat,NaN,NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_7.dat,NaN,NaN
/Users/nataly/opt/AnacondaProjects/SAPIENS/original/2018/CR3000/Sec/SAPIENS_CR3000_Second_8.dat,NaN,NaN

In [206]:
df11

,TIMESTAMP,RECORD,GHIP_SI02pt100,GHIP_SMP11,GHIP_SMP22,GHIP_SPN1,GHIT_SMP22,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,TGIP_SMP11_VENT,DfHIP_SPN1,DfHIRP_SMP11,DfHIT_SMP22,DIF_GLO_REF_SPN1,DNI_SHP1,LW_SGR4,wind_speed,wind_direction
0,2017-12-13 14:32:40,506255,1019.0,1028.0,1047.0,1012.0,1028.0,907.0,910.0,973.0,637.6,617.0,767.0,7.071,240.1,404.5,1.14,35.0
1,2017-12-13 14:32:41,506256,1023.0,1037.0,1045.0,1008.0,1045.0,906.0,917.0,994.0,639.6,617.0,766.5,15.670,252.8,404.7,1.30,51.0
2,2017-12-13 14:32:42,506257,1073.0,1090.0,1086.0,1062.0,1095.0,950.0,967.0,1047.0,639.6,616.0,766.1,11.380,307.6,404.8,1.18,98.0
3,2017-12-13 14:32:43,506258,1131.0,1159.0,1146.0,1132.0,1160.0,1005.0,1027.0,1124.0,640.7,616.0,765.7,-0.830,378.0,404.9,0.96,285.0
4,2017-12-13 14:32:44,506259,1236.0,1272.0,1248.0,1233.0,1260.0,1100.0,1131.0,1230.0,642.4,616.0,765.2,3.045,485.8,405.0,0.91,258.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441918,2018-01-17 18:57:02,94538,823.0,893.0,877.0,823.0,883.0,679.1,706.6,773.9,273.5,240.0,313.7,0.046,879.0,421.0,2.47,354.0
3441919,2018-01-17 18:57:03,94539,851.0,855.0,886.0,816.0,883.0,690.0,700.9,749.9,271.7,240.0,313.7,34.710,889.0,421.1,2.07,348.0
3441920,2018-01-17 18:57:04,94540,807.0,802.0,857.0,759.9,846.0,645.8,653.7,718.6,271.7,240.0,313.7,47.380,825.0,421.1,1.50,342.0
3441921,2018-01-17 18:57:05,94541,736.1,742.2,821.0,702.4,803.0,588.7,606.4,672.9,270.2,240.0,313.5,33.650,748.2,421.2,1.57,6.0
3441922,2018-01-17 18:57:06,94542,686.9,720.4,776.7,657.7,755.4,553.6,566.6,654.1,268.6,240.0,313.3,29.240,660.8,421.2,1.98,2.0

In [222]:
df11.shape

(3441923, 18)

In [225]:
df2

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
0,2017-12-13 14:32:40,506255,240.1,404.5,1028.0,1047.0,1028.0,1012.0,1019.000000,767.0,617.0,637.6,973.0,907.000000,910.000000,1.14,35.0,7.071000
1,2017-12-13 14:32:41,506256,252.8,404.7,1045.0,1045.0,1037.0,1008.0,1023.000000,766.5,617.0,639.6,994.0,906.000000,917.000000,1.30,51.0,15.670000
2,2017-12-13 14:32:42,506257,307.6,404.8,1095.0,1086.0,1090.0,1062.0,1073.000000,766.1,616.0,639.6,1047.0,950.000000,967.000000,1.18,98.0,11.380000
3,2017-12-13 14:32:43,506258,378.0,404.9,1160.0,1146.0,1159.0,1132.0,1131.000000,765.7,616.0,640.7,1124.0,1005.000000,1027.000000,0.96,285.0,-0.830000
4,2017-12-13 14:32:44,506259,485.8,405.0,1260.0,1248.0,1272.0,1233.0,1236.000000,765.2,616.0,642.4,1230.0,1100.000000,1131.000000,0.91,258.0,3.045000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441918,2018-01-17 18:57:02,94538,879.0,421.0,883.0,877.0,893.0,823.0,823.000000,313.7,240.0,273.5,773.9,679.099976,706.599976,2.47,354.0,0.046000
3441919,2018-01-17 18:57:03,94539,889.0,421.1,883.0,886.0,855.0,816.0,851.000000,313.7,240.0,271.7,749.9,690.000000,700.900024,2.07,348.0,34.709999
3441920,2018-01-17 18:57:04,94540,825.0,421.1,846.0,857.0,802.0,759.9,807.000000,313.7,240.0,271.7,718.6,645.799988,653.700012,1.50,342.0,47.380001
3441921,2018-01-17 18:57:05,94541,748.2,421.2,803.0,821.0,742.2,702.4,736.099976,313.5,240.0,270.2,672.9,588.700012,606.400024,1.57,6.0,33.650002
3441922,2018-01-17 18:57:06,94542,660.8,421.2,755.4,776.7,720.4,657.7,686.900024,313.3,240.0,268.6,654.1,553.599976,566.599976,1.98,2.0,29.240000

In [252]:
df1

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
0,2017-12-13 14:32:40,506255,240.1,404.5,1028.0,1047.0,1028.0,1012.0,1019.0,767.0,617.0,637.6,973.0,907.0,910.0,1.14,35,7.071
1,2017-12-13 14:32:41,506256,252.8,404.7,1045.0,1045.0,1037.0,1008.0,1023.0,766.5,617.0,639.6,994.0,906.0,917.0,1.3,51,15.67
2,2017-12-13 14:32:42,506257,307.6,404.8,1095.0,1086.0,1090.0,1062.0,1073.0,766.1,616.0,639.6,1047.0,950.0,967.0,1.18,98,11.38
3,2017-12-13 14:32:43,506258,378.0,404.9,1160.0,1146.0,1159.0,1132.0,1131.0,765.7,616.0,640.7,1124.0,1005.0,1027.0,0.96,285,-0.83
4,2017-12-13 14:32:44,506259,485.8,405.0,1260.0,1248.0,1272.0,1233.0,1236.0,765.2,616.0,642.4,1230.0,1100.0,1131.0,0.91,258,3.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441918,2018-01-17 18:57:02,94538,879.0,421.0,883.0,877.0,893.0,823.0,823.0,313.7,240.0,273.5,773.9,679.1,706.6,2.47,354,0.046
3441919,2018-01-17 18:57:03,94539,889.0,421.1,883.0,886.0,855.0,816.0,851.0,313.7,240.0,271.7,749.9,690.0,700.9,2.07,348,34.71
3441920,2018-01-17 18:57:04,94540,825.0,421.1,846.0,857.0,802.0,759.9,807.0,313.7,240.0,271.7,718.6,645.8,653.7,1.5,342,47.38
3441921,2018-01-17 18:57:05,94541,748.2,421.2,803.0,821.0,742.2,702.4,736.1,313.5,240.0,270.2,672.9,588.7,606.4,1.57,6,33.65
3441922,2018-01-17 18:57:06,94542,660.8,421.2,755.4,776.7,720.4,657.7,686.9,313.3,240.0,268.6,654.1,553.6,566.6,1.98,2,29.24

In [233]:
column_names = ['TIMESTAMP',
                'RECORD',
                'GHIP_SI02pt100',
                'GHIP_SMP11',
                'GHIP_SMP22',
                'GHIP_SPN1',
                'GHIT_SMP22',
                'TGHIP_SI02pt100', 
                'TGHIP_SI02pt100_dirty',
                'TGIP_SMP11_VENT',
                'DfHIP_SPN1', 
                'DfHIRP_SMP11',
                'DfHIT_SMP22',
                'DIF_GLO_REF_SPN1',
                'DNI_SHP1',
                'LW_SGR4', 
                'wind_speed', 
                'wind_direction']

In [234]:
todos = pd.DataFrame(columns = column_names)

In [236]:
todos.dtypes

TIMESTAMP                object
RECORD                   object
GHIP_SI02pt100           object
GHIP_SMP11               object
GHIP_SMP22               object
GHIP_SPN1                object
GHIT_SMP22               object
TGHIP_SI02pt100          object
TGHIP_SI02pt100_dirty    object
TGIP_SMP11_VENT          object
DfHIP_SPN1               object
DfHIRP_SMP11             object
DfHIT_SMP22              object
DIF_GLO_REF_SPN1         object
DNI_SHP1                 object
LW_SGR4                  object
wind_speed               object
wind_direction           object
dtype: object

In [237]:
todos

Empty DataFrame
Columns: [TIMESTAMP, RECORD, GHIP_SI02pt100, GHIP_SMP11, GHIP_SMP22, GHIP_SPN1, GHIT_SMP22, TGHIP_SI02pt100, TGHIP_SI02pt100_dirty, TGIP_SMP11_VENT, DfHIP_SPN1, DfHIRP_SMP11, DfHIT_SMP22, DIF_GLO_REF_SPN1, DNI_SHP1, LW_SGR4, wind_speed, wind_direction]
Index: []

In [243]:
todos = pd.concat([todos, df1])

In [239]:
todos.dtypes

TIMESTAMP                datetime64[ns]
RECORD                           object
GHIP_SI02pt100                  float64
GHIP_SMP11                      float64
GHIP_SMP22                      float64
GHIP_SPN1                       float64
GHIT_SMP22                      float64
TGHIP_SI02pt100                 float64
TGHIP_SI02pt100_dirty           float64
TGIP_SMP11_VENT                 float64
DfHIP_SPN1                      float64
DfHIRP_SMP11                    float64
DfHIT_SMP22                     float64
DIF_GLO_REF_SPN1                float64
DNI_SHP1                        float64
LW_SGR4                         float64
wind_speed                      float64
wind_direction                  float64
dtype: object

In [241]:
df11.dtypes

TIMESTAMP                datetime64[ns]
RECORD                            int64
GHIP_SI02pt100                  float64
GHIP_SMP11                      float64
GHIP_SMP22                      float64
GHIP_SPN1                       float64
GHIT_SMP22                      float64
TGHIP_SI02pt100                 float64
TGHIP_SI02pt100_dirty           float64
TGIP_SMP11_VENT                 float64
DfHIP_SPN1                      float64
DfHIRP_SMP11                    float64
DfHIT_SMP22                     float64
DIF_GLO_REF_SPN1                float64
DNI_SHP1                        float64
LW_SGR4                         float64
wind_speed                      float64
wind_direction                  float64
dtype: object

In [242]:
todos

,TIMESTAMP,RECORD,GHIP_SI02pt100,GHIP_SMP11,GHIP_SMP22,GHIP_SPN1,GHIT_SMP22,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,TGIP_SMP11_VENT,DfHIP_SPN1,DfHIRP_SMP11,DfHIT_SMP22,DIF_GLO_REF_SPN1,DNI_SHP1,LW_SGR4,wind_speed,wind_direction
0,2017-12-13 14:32:40,506255,1019.0,1028.0,1047.0,1012.0,1028.0,907.0,910.0,973.0,637.6,617.0,767.0,7.071,240.1,404.5,1.14,35.0
1,2017-12-13 14:32:41,506256,1023.0,1037.0,1045.0,1008.0,1045.0,906.0,917.0,994.0,639.6,617.0,766.5,15.670,252.8,404.7,1.30,51.0
2,2017-12-13 14:32:42,506257,1073.0,1090.0,1086.0,1062.0,1095.0,950.0,967.0,1047.0,639.6,616.0,766.1,11.380,307.6,404.8,1.18,98.0
3,2017-12-13 14:32:43,506258,1131.0,1159.0,1146.0,1132.0,1160.0,1005.0,1027.0,1124.0,640.7,616.0,765.7,-0.830,378.0,404.9,0.96,285.0
4,2017-12-13 14:32:44,506259,1236.0,1272.0,1248.0,1233.0,1260.0,1100.0,1131.0,1230.0,642.4,616.0,765.2,3.045,485.8,405.0,0.91,258.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441918,2018-01-17 18:57:02,94538,823.0,893.0,877.0,823.0,883.0,679.1,706.6,773.9,273.5,240.0,313.7,0.046,879.0,421.0,2.47,354.0
3441919,2018-01-17 18:57:03,94539,851.0,855.0,886.0,816.0,883.0,690.0,700.9,749.9,271.7,240.0,313.7,34.710,889.0,421.1,2.07,348.0
3441920,2018-01-17 18:57:04,94540,807.0,802.0,857.0,759.9,846.0,645.8,653.7,718.6,271.7,240.0,313.7,47.380,825.0,421.1,1.50,342.0
3441921,2018-01-17 18:57:05,94541,736.1,742.2,821.0,702.4,803.0,588.7,606.4,672.9,270.2,240.0,313.5,33.650,748.2,421.2,1.57,6.0
3441922,2018-01-17 18:57:06,94542,686.9,720.4,776.7,657.7,755.4,553.6,566.6,654.1,268.6,240.0,313.3,29.240,660.8,421.2,1.98,2.0

In [244]:
todos

,TIMESTAMP,RECORD,GHIP_SI02pt100,GHIP_SMP11,GHIP_SMP22,GHIP_SPN1,GHIT_SMP22,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,TGIP_SMP11_VENT,DfHIP_SPN1,DfHIRP_SMP11,DfHIT_SMP22,DIF_GLO_REF_SPN1,DNI_SHP1,LW_SGR4,wind_speed,wind_direction
0,2017-12-13 14:32:40,506255,1019.0,1028.0,1047.0,1012.0,1028.0,907.0,910.0,973.0,637.6,617.0,767.0,7.071,240.1,404.5,1.14,35.0
1,2017-12-13 14:32:41,506256,1023.0,1037.0,1045.0,1008.0,1045.0,906.0,917.0,994.0,639.6,617.0,766.5,15.67,252.8,404.7,1.3,51.0
2,2017-12-13 14:32:42,506257,1073.0,1090.0,1086.0,1062.0,1095.0,950.0,967.0,1047.0,639.6,616.0,766.1,11.38,307.6,404.8,1.18,98.0
3,2017-12-13 14:32:43,506258,1131.0,1159.0,1146.0,1132.0,1160.0,1005.0,1027.0,1124.0,640.7,616.0,765.7,-0.83,378.0,404.9,0.96,285.0
4,2017-12-13 14:32:44,506259,1236.0,1272.0,1248.0,1233.0,1260.0,1100.0,1131.0,1230.0,642.4,616.0,765.2,3.045,485.8,405.0,0.91,258.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441918,2018-01-17 18:57:02,94538,823.0,893.0,877.0,823.0,883.0,679.1,706.6,773.9,273.5,240.0,313.7,0.046,879.0,421.0,2.47,354
3441919,2018-01-17 18:57:03,94539,851.0,855.0,886.0,816.0,883.0,690.0,700.9,749.9,271.7,240.0,313.7,34.71,889.0,421.1,2.07,348
3441920,2018-01-17 18:57:04,94540,807.0,802.0,857.0,759.9,846.0,645.8,653.7,718.6,271.7,240.0,313.7,47.38,825.0,421.1,1.5,342
3441921,2018-01-17 18:57:05,94541,736.1,742.2,821.0,702.4,803.0,588.7,606.4,672.9,270.2,240.0,313.5,33.65,748.2,421.2,1.57,6
3441922,2018-01-17 18:57:06,94542,686.9,720.4,776.7,657.7,755.4,553.6,566.6,654.1,268.6,240.0,313.3,29.24,660.8,421.2,1.98,2

In [248]:
semtodos = todos.drop_duplicates(subset='TIMESTAMP')

In [249]:
semtodos

,TIMESTAMP,RECORD,GHIP_SI02pt100,GHIP_SMP11,GHIP_SMP22,GHIP_SPN1,GHIT_SMP22,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,TGIP_SMP11_VENT,DfHIP_SPN1,DfHIRP_SMP11,DfHIT_SMP22,DIF_GLO_REF_SPN1,DNI_SHP1,LW_SGR4,wind_speed,wind_direction
0,2017-12-13 14:32:40,506255,1019.0,1028.0,1047.0,1012.0,1028.0,907.0,910.0,973.0,637.6,617.0,767.0,7.071,240.1,404.5,1.14,35.0
1,2017-12-13 14:32:41,506256,1023.0,1037.0,1045.0,1008.0,1045.0,906.0,917.0,994.0,639.6,617.0,766.5,15.67,252.8,404.7,1.3,51.0
2,2017-12-13 14:32:42,506257,1073.0,1090.0,1086.0,1062.0,1095.0,950.0,967.0,1047.0,639.6,616.0,766.1,11.38,307.6,404.8,1.18,98.0
3,2017-12-13 14:32:43,506258,1131.0,1159.0,1146.0,1132.0,1160.0,1005.0,1027.0,1124.0,640.7,616.0,765.7,-0.83,378.0,404.9,0.96,285.0
4,2017-12-13 14:32:44,506259,1236.0,1272.0,1248.0,1233.0,1260.0,1100.0,1131.0,1230.0,642.4,616.0,765.2,3.045,485.8,405.0,0.91,258.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3382850,2018-01-18 12:29:58,157691,792.9,822.0,824.0,789.0,826.0,675.8,687.5,743.5,137.4,135.0,164.2,3.826,840.0,406.6,5.48,284
3382851,2018-01-18 12:29:59,157692,791.8,821.0,823.0,787.7,825.0,674.9,686.9,743.1,135.9,135.0,164.2,4.14,839.0,406.7,4.96,285
3382852,2018-01-18 12:30:00,157693,790.4,820.0,822.0,785.2,824.0,673.5,685.6,741.9,135.9,135.0,164.1,5.196,837.0,406.8,4.85,286
3382853,2018-01-18 12:30:01,157694,789.5,819.0,821.0,784.1,823.0,673.1,684.8,740.6,134.6,135.0,164.1,5.463,836.0,406.8,4.93,289
3382854,2018-01-18 12:30:02,157695,788.1,818.0,819.0,784.4,822.0,671.6,683.0,739.4,138.5,135.0,164.1,3.712,834.0,406.8,4.48,312

In [250]:
todos.tail()

,TIMESTAMP,RECORD,GHIP_SI02pt100,GHIP_SMP11,GHIP_SMP22,GHIP_SPN1,GHIT_SMP22,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,TGIP_SMP11_VENT,DfHIP_SPN1,DfHIRP_SMP11,DfHIT_SMP22,DIF_GLO_REF_SPN1,DNI_SHP1,LW_SGR4,wind_speed,wind_direction
3441918,2018-01-17 18:57:02,94538,823.0,893.0,877.0,823.0,883.0,679.1,706.6,773.9,273.5,240.0,313.7,0.046,879.0,421.0,2.47,354
3441919,2018-01-17 18:57:03,94539,851.0,855.0,886.0,816.0,883.0,690.0,700.9,749.9,271.7,240.0,313.7,34.71,889.0,421.1,2.07,348
3441920,2018-01-17 18:57:04,94540,807.0,802.0,857.0,759.9,846.0,645.8,653.7,718.6,271.7,240.0,313.7,47.38,825.0,421.1,1.5,342
3441921,2018-01-17 18:57:05,94541,736.1,742.2,821.0,702.4,803.0,588.7,606.4,672.9,270.2,240.0,313.5,33.65,748.2,421.2,1.57,6
3441922,2018-01-17 18:57:06,94542,686.9,720.4,776.7,657.7,755.4,553.6,566.6,654.1,268.6,240.0,313.3,29.24,660.8,421.2,1.98,2

In [256]:
semtodos.tail(5)

,TIMESTAMP,RECORD,GHIP_SI02pt100,GHIP_SMP11,GHIP_SMP22,GHIP_SPN1,GHIT_SMP22,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,TGIP_SMP11_VENT,DfHIP_SPN1,DfHIRP_SMP11,DfHIT_SMP22,DIF_GLO_REF_SPN1,DNI_SHP1,LW_SGR4,wind_speed,wind_direction
3382850,2018-01-18 12:29:58,157691,792.9,822.0,824.0,789.0,826.0,675.8,687.5,743.5,137.4,135.0,164.2,3.826,840.0,406.6,5.48,284
3382851,2018-01-18 12:29:59,157692,791.8,821.0,823.0,787.7,825.0,674.9,686.9,743.1,135.9,135.0,164.2,4.14,839.0,406.7,4.96,285
3382852,2018-01-18 12:30:00,157693,790.4,820.0,822.0,785.2,824.0,673.5,685.6,741.9,135.9,135.0,164.1,5.196,837.0,406.8,4.85,286
3382853,2018-01-18 12:30:01,157694,789.5,819.0,821.0,784.1,823.0,673.1,684.8,740.6,134.6,135.0,164.1,5.463,836.0,406.8,4.93,289
3382854,2018-01-18 12:30:02,157695,788.1,818.0,819.0,784.4,822.0,671.6,683.0,739.4,138.5,135.0,164.1,3.712,834.0,406.8,4.48,312

In [258]:
df1.tail(10)

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
3441913,2018-01-17 18:56:57,94533,211.4,420.9,453.9,457.5,471.1,438.0,445.9,310.3,239.0,268.8,404.4,372.1,371.5,3.18,344,7.945
3441914,2018-01-17 18:56:58,94534,231.1,420.9,470.0,468.1,529.9,469.5,470.3,311.2,239.0,270.6,439.7,397.5,393.4,2.98,344,0.812
3441915,2018-01-17 18:56:59,94535,294.3,420.9,545.6,527.7,684.6,554.2,517.6,312.2,239.0,271.7,564.0,443.3,460.8,2.79,349,-36.56
3441916,2018-01-17 18:57:00,94536,549.4,420.9,713.8,693.8,824.0,679.0,653.4,312.9,239.0,270.6,699.2,552.7,592.1,3.08,346,-25.58
3441917,2018-01-17 18:57:01,94537,783.1,421.0,835.0,827.0,886.0,773.4,760.1,313.5,240.0,274.9,760.5,624.8,667.9,3.24,349,-13.29
3441918,2018-01-17 18:57:02,94538,879.0,421.0,883.0,877.0,893.0,823.0,823.0,313.7,240.0,273.5,773.9,679.1,706.6,2.47,354,0.046
3441919,2018-01-17 18:57:03,94539,889.0,421.1,883.0,886.0,855.0,816.0,851.0,313.7,240.0,271.7,749.9,690.0,700.9,2.07,348,34.71
3441920,2018-01-17 18:57:04,94540,825.0,421.1,846.0,857.0,802.0,759.9,807.0,313.7,240.0,271.7,718.6,645.8,653.7,1.5,342,47.38
3441921,2018-01-17 18:57:05,94541,748.2,421.2,803.0,821.0,742.2,702.4,736.1,313.5,240.0,270.2,672.9,588.7,606.4,1.57,6,33.65
3441922,2018-01-17 18:57:06,94542,660.8,421.2,755.4,776.7,720.4,657.7,686.9,313.3,240.0,268.6,654.1,553.6,566.6,1.98,2,29.24

In [259]:
df1uniq = df1.drop_duplicates(subset='TIMESTAMP')

In [260]:
df1.tail(10)

,TIMESTAMP,RECORD,DNI_SHP1,LW_SGR4,GHIT_SMP22,GHIP_SMP22,GHIP_SMP11,GHIP_SPN1,GHIP_SI02pt100,DfHIT_SMP22,DfHIRP_SMP11,DfHIP_SPN1,TGIP_SMP11_VENT,TGHIP_SI02pt100,TGHIP_SI02pt100_dirty,wind_speed,wind_direction,DIF_GLO_REF_SPN1
3441913,2018-01-17 18:56:57,94533,211.4,420.9,453.9,457.5,471.1,438.0,445.9,310.3,239.0,268.8,404.4,372.1,371.5,3.18,344,7.945
3441914,2018-01-17 18:56:58,94534,231.1,420.9,470.0,468.1,529.9,469.5,470.3,311.2,239.0,270.6,439.7,397.5,393.4,2.98,344,0.812
3441915,2018-01-17 18:56:59,94535,294.3,420.9,545.6,527.7,684.6,554.2,517.6,312.2,239.0,271.7,564.0,443.3,460.8,2.79,349,-36.56
3441916,2018-01-17 18:57:00,94536,549.4,420.9,713.8,693.8,824.0,679.0,653.4,312.9,239.0,270.6,699.2,552.7,592.1,3.08,346,-25.58
3441917,2018-01-17 18:57:01,94537,783.1,421.0,835.0,827.0,886.0,773.4,760.1,313.5,240.0,274.9,760.5,624.8,667.9,3.24,349,-13.29
3441918,2018-01-17 18:57:02,94538,879.0,421.0,883.0,877.0,893.0,823.0,823.0,313.7,240.0,273.5,773.9,679.1,706.6,2.47,354,0.046
3441919,2018-01-17 18:57:03,94539,889.0,421.1,883.0,886.0,855.0,816.0,851.0,313.7,240.0,271.7,749.9,690.0,700.9,2.07,348,34.71
3441920,2018-01-17 18:57:04,94540,825.0,421.1,846.0,857.0,802.0,759.9,807.0,313.7,240.0,271.7,718.6,645.8,653.7,1.5,342,47.38
3441921,2018-01-17 18:57:05,94541,748.2,421.2,803.0,821.0,742.2,702.4,736.1,313.5,240.0,270.2,672.9,588.7,606.4,1.57,6,33.65
3441922,2018-01-17 18:57:06,94542,660.8,421.2,755.4,776.7,720.4,657.7,686.9,313.3,240.0,268.6,654.1,553.6,566.6,1.98,2,29.24

In [264]:
naive_times = pd.date_range(start='2017-12-13 14:32:40', end='2018-01-18 12:30:02', freq='1s')

In [265]:
naive_times.shape

(3103043,)

In [266]:
naive_times

DatetimeIndex(['2017-12-13 14:32:40', '2017-12-13 14:32:41',
               '2017-12-13 14:32:42', '2017-12-13 14:32:43',
               '2017-12-13 14:32:44', '2017-12-13 14:32:45',
               '2017-12-13 14:32:46', '2017-12-13 14:32:47',
               '2017-12-13 14:32:48', '2017-12-13 14:32:49',
               ...
               '2018-01-18 12:29:53', '2018-01-18 12:29:54',
               '2018-01-18 12:29:55', '2018-01-18 12:29:56',
               '2018-01-18 12:29:57', '2018-01-18 12:29:58',
               '2018-01-18 12:29:59', '2018-01-18 12:30:00',
               '2018-01-18 12:30:01', '2018-01-18 12:30:02'],
              dtype='datetime64[ns]', length=3103043, freq='S')