In [1]:
from numba.core.extending import get_cython_function_address
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import datetime
import pytz
import pvlib

In [2]:
df1 =pd.DataFrame({'Open_date' : np.array(pd.date_range('20130101',periods = 6 )),
              'Close_date' : np.array(pd.date_range('20130104',periods = 6 ))
                    })
df1=df1[ [ 'Open_date','Close_date']]


df2 = pd.DataFrame(np.random.randn(20,1), index=pd.date_range('20130101',periods = 20), columns= ['interest_rate'])

In [3]:
df1

   Open_date Close_date
0 2013-01-01 2013-01-04
1 2013-01-02 2013-01-05
2 2013-01-03 2013-01-06
3 2013-01-04 2013-01-07
4 2013-01-05 2013-01-08
5 2013-01-06 2013-01-09

In [6]:
df2.dtypes

interest_rate    float64
dtype: object

In [5]:
df=df1.copy()#keep the original df1
df1['list']=df1.apply(lambda x : pd.date_range(start =x['Open_date'],end=x['Close_date'],freq='D').tolist(),axis=1)
df1=df1['list'].apply(pd.Series).stack().to_frame().rename(columns={0:'Date'})
df1['value']=df1.Date.map(df2.interest_rate)
df1.groupby(level=0).mean()

      value
0  0.246739
1  0.061411
2  0.477132
3 -0.111455
4  0.600707
5  0.216376